<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/mystyle.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   

   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <title>Bind-Brands</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" style="font-size: 40px"><u>BB</u></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
        </button>
            <!--div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Page 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Page 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Page 3</a>
                    </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Page 4</a>
                    </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">page 5</a>
                    </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Page 6</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Page 7</a>
                    </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Page 8</a>
                    </li>
                  </ul>
    </div--->
  </div>
</nav>
    <!---------------------------------------------->
    <section class="banner">
        <div class="bannertext">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <h1 class="baner">Bind Brands For Clever & Connect Connections</h1>
                        <p>Join the platform of Bind Brands to connect with brands with marketing strategies that bring results and take the next step in the evolution ladder of Digital Marketing.
                            <br><b>What’s more?</b>Get complimentary access to their vast audience to run your campaign. </p> 
                        
                        <a href="/form" class="btn btn-default bnrbtn">Try it for free</a>
                    </div>
                    <div class="col-md-4 mmn">
                        <div class="bnrbot">
                            <h1>75%</h1>
                            <h5>decrease in overall digital marketing costs</h5> </div>
                    </div>
                    <div class="col-md-4 mmn">
                        <div class="bnrbot">
                            <h1>150+</h1>
                            <h5>brands to explore from </h5> </div>
                    </div>
                    <div class="col-md-4 mmn">
                        <div class="bnrbot">
                            <h1>300%</h1>
                            <h5>Increase in Return On Ad Spend </h5> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!---------------------------------------------->

    <section class="brand-logos">
        <div class="container">
            <div class="row">
                <h2 class="text-center">Brands we have worked with</h2>
                <section class="bb-logos">
                    <div class="bb-logo-list">
                        <img src="https://cdn.shopify.com/s/files/1/0522/6178/1673/files/udd-bb.png?v=1718672327" alt="Udd Studio">
                    </div>

                    <div class="bb-logo-list">
                        <img src="https://cdn.shopify.com/s/files/1/0522/6178/1673/files/powersutra-bb.png?v=1718672328" alt="Powersutra">
                    </div>

                    <div class="bb-logo-list">
                        <img src="./data/logos/Leaf Logo.png" alt="">
                    </div>

                    <div class="bb-logo-list">
                        <img src="https://cdn.shopify.com/s/files/1/0522/6178/1673/files/harrys-bb.png?v=1718672328" alt="Harry's">
                    </div>

                    <div class="bb-logo-list">
                        <img src="https://cdn.shopify.com/s/files/1/0522/6178/1673/files/sassafras-bb.png?v=1718672328" alt="Sassafras">
                    </div>

                    <div class="bb-logo-list">
                        <img src="https://cdn.shopify.com/s/files/1/0522/6178/1673/files/Janasya-bb.png?v=1718672328" alt="Janasya">
                    </div>

                    <div class="bb-logo-list">
                        <img src="https://cdn.shopify.com/s/files/1/0522/6178/1673/files/tmp-bb.png?v=1718672327" alt="Theme My Party">
                    </div>

                    <div class="bb-logo-list">
                        <img src="https://cdn.shopify.com/s/files/1/0522/6178/1673/files/taurus-bb.png?v=1718672327" alt="Taurus">
                    </div>

                    <div class="bb-logo-list">
                        <img src="https://cdn.shopify.com/s/files/1/0522/6178/1673/files/phuljhadi-bb.png?v=1718672328" alt="Phuljhadi">
                    </div>

                    <div class="bb-logo-list">
                        <img src="https://cdn.shopify.com/s/files/1/0522/6178/1673/files/lotus-bb.png?v=1718672327" alt="Lotus Herbals">
                    </div>

                    <div class="bb-logo-list">
                        <img src="https://cdn.shopify.com/s/files/1/0522/6178/1673/files/rb-bb.png?v=1718672327" alt="RB Organics">
                    </div>

                    <div class="bb-logo-list">
                        <img src="./data/logos/mini klub logo.png" alt="">
                    </div>
                </section>
            </div>
        </div> 
    </section>
    
    <section>
        <div class="stata">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 vghy">
                        <h2>Do it all with Bind Brands</h2>
                        <p>Join the platform of Bind Brands to connect with brands with marketing strategies that bring results and take the next step on the evolution ladder of Digital Marketing. </p>
                    </div>
                    </div>
                <div class="row serc">
                    <div class="col-md-6 mb"> <img src="img/explore1.png" class="img-fluid ghy"> </div>
                    <div class="col-md-5">
                        <h3>Explore brands that inspire you </h3>
                        <p>Choose the brands you want to work with from our long list of small, medium and big enterprises belonging to a diverse variety of industries. Gain access to their website traffic, social media followers,and more.</p> <a href="/form" class="explore">Register Now <i class="fas fa-long-arrow-alt-right"></i></a> </div>
                    <!-- <div class="col-md-6 mm"> <img src="img/explore.png" class="img-fluid ghy"> </div> -->
                </div>
                <div class="row serc1">
                        <div class="col-md-6 pok">
                        <h3> Complimentary access to the brand’s audience. </h3>
                        <p>With every purchase you make, we provide you with complimentary access to the brand’s online audience for 15 days to run your marketing campaigns. Gain access to 6 different audience types including website visitors, instagram followers, facebook likes, look-alikes of facebook likes, look-alike of instagram followers and look-alike of website visitors. </p> <a href="/form" class="explore">Register Now <i class="fas fa-long-arrow-alt-right"></i></a> </div>
                    <div class="col-md-6"> <img src="img/audiencelist.png" class="img-fluid ghy"> </div>
                </div>
                <div class="row serc1">
                    <div class="col-md-6 mb"> <img src="img/cross.png" class="img-fluid ghy"> </div>
                    <div class="col-md-5">
                        <h3>Promote with synergistic brands</h3>
                        <p>Promote your product/service to the extensive audience garnered by the brand of your choice without needing to promote them on your channels. </p> <a href="/form" class="explore">Register Now <i class="fas fa-long-arrow-alt-right"></i></a> </div>
                    <!-- <div class="col-md-6 mm"> <img src="img/banner12.jpg" class="img-fluid ghy"> </div> -->
                </div>


                 <div class="row serc1">
                        <div class="col-md-6 pok1">
                        <h3>Increase ROAS and save time.</h3>
                            <p>With access to a pre-combined list of potential buyers, you can save time, money and resources while increasing your marketing ROAS. </p>
 <a href="/form" class="explore">Register Now <i class="fas fa-long-arrow-alt-right"></i></a> </div>
                    <div class="col-md-6"> <img src="img/roas.png" class="img-fluid ghy"> </div>
                </div>
                <div class="row serc1">
                    <div class="col-md-6 mb"> <img src="img/banner12.jpg" class="img-fluid ghy"> </div>
                    <div class="col-md-5">
                        <h3>Your choice comes first </h3>
                        <p>You aren’t mandated to form alliances or cross-promote with other brands. You have the choice in your hands. Pick any brand’s platform you want to promote your services on without having to promote them back. </p> <a href="/form" class="explore">Explore ways to sell <i class="fas fa-long-arrow-alt-right"></i></a> </div>
                    <div class="col-md-6 mm"> <img src="img/banner12.jpg" class="img-fluid ghy"> </div>
                </div>


            </div>
        </div>
    </section> 

    <section class="uprblog">
        <div class="stata">
            <div class="container">
                <div class="row ghyui">
                    <div class="col-md-12">
                        <h2 class="easy">It's easy as 1,2,3,4</h2>
                        <p>Join the new trend of digital marketing by coming onboard Bind Brands Platform.</p>
                    </div>
                    <div class="col-md-3">
                        <div class="bnrbot1">
                            <h5>Register your business by following our registration process.  </h5>
                            <h1>2 minutes</h1> </div>
                    </div>
                    <div class="col-md-1 vvgg"> <img src="img/Arrows-curved-arrow.png" class="img-fluid arrow"> </div>
                    <div class="col-md-2">
                        <div class="bnrbot1">
                            <h5>Our algorithm will give you a price range.</h5>
                            <h1>Instant</h1> </div>
                    </div>
                    <div class="col-md-1 vvggg"> <img src="img/Arrows-curved-arrow.png" class="img-fluid arrow">  </div>
                    <div class="col-md-2">
                        <div class="bnrbot1">
                            <h5>Share your audience (mandatory)</h5>
                            <h1>1 minutes</h1> </div>
                    </div>
                    <div class="col-md-1 vvgg"> <img src="img/Arrows-curved-arrow.png" class="img-fluid arrow"> </div>
                    <div class="col-md-2">
                        <div class="bnrbot1">
                            <h5>Start Selling or buying </h5>
                            <h1>Instant</h1> </div>
                    </div>
                    <center><a href="/form" class="btn btn-default bnrbtn2">Register Now</a></center>
                </div>
            </div>
        </div>
    </section>
    <section class="blog">
        <div class="container">
            <div class="row serc">
                <div class="col-md-6 text1"> <img src="img/uddlogo.png" class="img-fluid leftimg">
                    <!-- <h5>The results are incredible!</h5> -->
                    <p>"Our return on ad spend in the last 30 days has been 2125% yes you read that right, 2125%. Our average ad cost per purchase is $5 with an average order value of $115, so its is well worth it for us. That was with a $10 a day budget. We just upped it to $50 a day so we shall see what it does."</p>
                    <h9>-Yuti Edward, co-founder of UddStudio</h9>
                    <div class="row">
                        <div class="col-md-4 percent">
                            <h1>2125%</h1>
                            <p class="bold">Increase In ROAS</p>
                        </div>
                        <div class="col-md-4 percent">
                            <h1>$1000</h1>
                            <p class="bold">Saved in Marketing Cost</p>
                        </div>
                        <!-- <p class="percent">results not typical</p> -->
                    </div>
                </div>
                <div class="col-md-6"> <img src="img/Yuti.jpeg" class="img-fluid ghy"> </div>
            </div>
        </div>
    </section>
    <section class="explorefr">
        <div class="container">
            <div class="row">
                <!-- <h3>A partnership to help you scale.</h3> </div> -->
            <div class="cgyt">
                <div class="row">
                    <div class="col-md-6 hhju">
                        <!-- <h5>START</h5> -->
                        <h4>Join the Brand Bind Partner Program</h4>
                        <p>Join our partnership program and earn commission for every new brand you introduce. (</p> <a href="/form" class="explore">Explore ways to sell <i class="fas fa-long-arrow-alt-right"></i></a> </div>
                    <div class="col-md-6"> <img src="img/Partner.jpg" class="img-fluid ghypo"> </div>
                </div>
            </div>
            </div>
            </div>
    </section>
    <section class="frequebt">
        <div class="container">
            <div class="row">
                <h2 class="text-center">Frequently Asked Question</h2>
                <div class="accordian">
                    <!-- <div class="card" style=" border-top: 1px solid black!important;">
                        <div class="card-header">
                            <h3>What is Bind Brand? </h3> <span class="fa fa-minus"></span> </div>
                        <div class="card-body">
                            <p> Bind Brand is a digital platform to connect with brands for their marketing insights and target the right audience by using our service.</p>
                        </div>
                    </div> -->

                    <div class="card" style=" border-top: 1px solid black!important;">
                        <div class="card-header">
                            <h3>What exactly does Bindbrands do? </h3> <span class="fa fa-minus"></span> </div>
                        <div class="card-body">
                            <p> Bindbrands collaborates with influencers to promote various brands, by sharing their audience with the brands. Influencers don't need to create content or deliverables; they simply share their Instagram followers with the brands.</p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <!-- <h3>What is the use of marketing Insights? How it will help me in growing my business? </h3> --> 
                            <h3>How does the process work? </h3><span class="fa fa-plus"></span> </div>
                    <!--     <div class="card-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div> -->
                        <div class="card-body">
                            <p> 
                                <ol type="a">
                                  <li>Influencers share their Instagram followers with the brand on receiving a collaboration request from the brand.</li>
                                  <li>The brand launches campaigns and runs ads on the influencer's followers' Facebook pages.</li>
                                  <li>Influencers receive monetary benefits for sharing their audience.</li>
                                </ol>
                            </p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <!-- <h3>What is the use of an Audience List?</h3>  -->
                            <h3>Do I need to create content or deliverables for the brand?</h3>   <span class="fa fa-plus"></span> </div>
                     <!--    <div class="card-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div> -->
                        <div class="card-body">
                            <p> No, influencers do not need to create any content or deliverables. The process only requires sharing your Instagram followers with the brand.</p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <!-- <h3>Can I connect with brands without registering as a seller? </h3> --> 
                            <h3>How will I be compensated? </h3>  <span class="fa fa-plus"></span> </div>
                   <!--      <div class="card-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div> -->
                        <div class="card-body">
                            <p> Influencers receive $100 for every 15 days they share their audience with the brand. If you choose to continue after 15 days, you can share your followers again and receive the same amount. Payment is made for each brand you collaborate with and for every 15-day period. For instance you collaborate with 5 brands then you would receive $100*5= $500 for 15 days.</p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <!-- <h3>Is there any registration fee?</h3> --> 
                            <h3>Is it safe to share my followers with the brand?</h3> <span class="fa fa-plus"></span> </div>
                      <!--   <div class="card-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div> -->
                        <div class="card-body">
                            <p> Yes, it is safe. The brand only gets to see an encrypted file of your followers. They cannot fetch any personal details. The process is ethical and approved by Meta. </p>
                        </div>
                    </div>

                     <div class="card">
                        <div class="card-header">
                            <!-- <h3>What are the complementary services? How can I access it?</h3> --> 
                            <h3>How can I be sure that my followers' data is secure?</h3>   <span class="fa fa-plus"></span> </div>
                       <!--  <div class="card-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div> -->
                        <div class="card-body">
                            <p> The data shared with the brand is encrypted, ensuring that the brand cannot access any personal information about your followers. Meta approves this process, guaranteeing its security and ethical standards. </p>
                        </div>
                    </div>


                     <div class="card">
                        <div class="card-header">
                            <!-- <h3>How will I earn money?</h3> --> 
                            <h3>What happens if I don't want to continue after 15 days?</h3> <span class="fa fa-plus"></span> </div>
                       <!--  <div class="card-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div> -->
                        <div class="card-body">
                            <p> After every 15 days the brand will send you a request again for collaboration. If you don't want to continue you can decline the request. There are no obligations to continue beyond the initial period. </p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h3>Can I collaborate with multiple brands simultaneously?</h3> <span class="fa fa-plus"></span> 
                        </div>
                        <div class="card-body">
                            <p> Yes, you can collaborate with multiple brands simultaneously. Each brand you collaborate with will pay you for every 15-day period you share your followers. </p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h3>How do I get started?</h3> <span class="fa fa-plus"></span> 
                        </div>
                        <div class="card-body">
                            <p> If you're interested in getting onbarded on BindBrands, you can schedule a meeting with us to discuss further details. Click on the following link <a href="https://calendly.com/messold/bind-brands">https://calendly.com/messold/bind-brands</a> </p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h3>Is there any registration fee and how soon can we get started?</h3> <span class="fa fa-plus"></span> 
                        </div>
                        <div class="card-body">
                            <p> We are currently in the beta phase and there is zero registration fee for the influencers who are getting registered with us right now. </p>
                        </div>
                    </div>


                    <center><a href="/form" class="btn btn-default viewmore">View More</a></center>
                </div>
            </div>
        </div>
    </section>
    <section class="letsd">
        <div class="container">
            <div class="row">
                <h1 class="letsd">Let's do this</h1>
                <h5 class="letsd">Every big idea starts with a small step forward.</h5>
                <center><a href="/form" class="btn btn-default pick">Register Now</a></center>
            </div>
        </div>
    </section>
   <!--  
   <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="footer">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">F.A.Q</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section> -->
    <!-- <section class="copyright">
        <div class="container">
            <div class="row">
                <h5>COPYRIGHT 2021 <a href="#" target="_blank" class="copy">BIND BRANDS</a></h5> </div>
        </div>
    </section> 
-->
    <!---------------------------------------------->
    <script src="js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <script>
    $(document).ready(function()
    {
        $(".card-header").click(function()
        {
            // self clicking close
            if ($(this).next(".card-body").hasClass("active"))
            {
                $(this).next(".card-body").removeClass("active").slideUp()
                $(this).children("span").removeClass("fa-minus").addClass("fa-plus")
            }
            else
            {
                $(".card .card-body").removeClass("active").slideUp()
                $(".card .card-header span").removeClass("fa-minus").addClass("fa-plus");
                $(this).next(".card-body").addClass("active").slideDown()
                $(this).children("span").removeClass("fa-plus").addClass("fa-minus")
            }
        })
    })
    </script>
    <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/60dd984f65b7290ac638df89/1f9gpltre';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
    
</body>

</html>