<!-- MAIN FOOTER -->
            <footer class="mainFooter">
                <div class="footer-1"> <img src="./data/img/footer.svg" alt=""> </div>
                <div class="footer-2">
                    <div class="row-1-footer">
                        <div class="collab footer-heading-text">
                            <h3 class="footer-heading">
            Want to collaborate?
          </h3>
                            <h4 class="footer-heading-2">
            Work with us!
          </h4>
                            <!-- <div class="footer-text"> <a href="mailto: sales@messold.com">sales@messold.com</a> </div> -->
                            <div class="footer-text"> <a href="mailto: info@messold.com">info@messold.com</a> </div>
                        </div>
                        <div class="say-hi footer-heading-text">
                            <h3 class="footer-heading">
            Want to say Hi?
          </h3>
                            <h4 class="footer-heading-2">
            General Enquiries
          </h4>
                            <div class="footer-text"> <a href="mailto: hello@messold.com">hello@messold.com</a> </div>
                        </div>
                    </div>
                    <div class="row-2-footer">
                        <div class="join footer-heading-text">
                            <h3 class="footer-heading">
            Want to Join us?
          </h3>
                            <h4 class="footer-heading-2">
            Messold welcomes you!
          </h4>
                            <div class="footer-text"> <a href="mailto: career@messold.com">careers@messold.com</a> </div>
                        </div>
                        <div class="learn footer-heading-text">
                            <h3 class="footer-heading">
            Want to learn?
          </h3>
                            <h4 class="footer-heading-2">
            Become an Intern
          </h4>
                            <div class="footer-text"> <a href="mailto: intern@messold.com">intern@messold.com</a> </div>
                        </div>
                    </div>
                </div>
            </footer>

<section class="footer-bar">
    <div class="company-legal-name">Messold Technologies Private Limited</div>
    <div class="company-legal-policies">
        <span><a href="https://messold.com/terms-and-conditions">Terms & Conditions</a></span> <span class="policy-separator">|</span>
        <span><a href="https://messold.com/privacy-policy">Privacy Policy</a></span>
    </div>
</section>