
<!DOCTYPE html>
<html lang="en">

<head>

  <meta property="og:locale" content="en_US">

<meta property="og:type" content="website">

<meta property="og:title" content="Digital Marketing Agency | Messold | New Delhi">

<meta property="og:description" content="Messold is a leading digital marketing agency in Delhi, India. Expertise in online marketing, social media, SEO, PPC and web development makes us a 
Full-Service Digital Agency.">

<meta property="og:url" content="http://messold.com/">

<meta property="og:site_name" content="Messold">

<meta property="og:image" content="./data/img/FEVICON.png">

<meta property="og:image:alt" content="Messold fevicon">

<!-- <meta property="og:image:type" content="image/fevicon"> -->


<link rel="canonical" href="https://messold.com/"> 



<meta name="robots" content="follow, index">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Messold</title>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/mobile.css">
  <link rel="stylesheet" href="/css/pricing.css">
  <link rel="icon" type="image/png" href="./data/img/FEVICON.png"/>

      <link rel="stylesheet" href="/css/tablet.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />



</head>

<body>

   <a class="req-button" href="https://messold.com/contact">Request a Quote</a>

  <div class="cursor"></div>
  <header class="page-header">
    <!-- TOP HEADER LOGO ANF MENU ICON -->
    <section class="page-section" id="main-header-padding">
      <nav class="main-nav mobile-padding">
 <div class="logo">
         <a href="https://messold.com"><img src="./data/img/messold-logo.png"></a>
        </div>



        <div class="menu-icon">
          <div class="line-1"></div>
          <div class="line-2"></div>
          <div class="line-3"></div>
        </div>
      </nav>
    </section>

    <!-- HERO BANNER IMAGE AND TEXT -->

    <!-- MAIN NAVIGATION BAR -->
 <div class="main-nav-items">
      <div class="info-menu">
        <h3>Let's Connect</h3>
        <p>hello@messold.com</p>

        <h2>We understand your audiences. We understand you!
</h2>
        <div id="ip-text" class="ip-desktop">

          <!-- <div id="ip"></div>
          <div id="browser"></div>
          <div id="version"></div>
          <div id="product"></div>
          <div id="OS"></div> -->
        </div>
      </div>
      <ul class="menu">
        <li><a href="http://messold.com">Home</a> </li>
        <li><a href="/about">About</a> </li>
        <li><a href="/contact">Contact</a> </li>
        <li><a href="/privacy-policy">Privacy Policy</a> </li>
        <div class="menu-close-icon">
          <img src="./data/img/icons8-multiply-96.png" alt="">
        </div>

      </ul>


    </div>
  </header>
  <h2 class="main-heading">Book your best plan or get a customized quote now!
  </h2>
  <div class="main-para">As being the first-ever performance-based e-commerce agency, we give you the opportunity of testing our expertise at zero cost. Our plans are devised as such that they meet the wide-ranging requirements of our potential clients to help them choose what's
    best for them!</div>

  <section id="price-features">
    <table>
      <thead>
        <th  style="text-align: left">AD Spend</th>
        <th style="text-align: center">Start Up<br><span>Client Ad Spend(x):1500-2000/Day</span></th>
        <th  style="text-align: center">Staple<br><span>Client Ad Spend(x):2000-4000/Day</span></th>
        <th  style="text-align: center">Growth<br><span>Client Ad Spend(x):4000-6000/Day</span></th>
        <th  style="text-align: center">Professional<br><span>Client Ad Spend(x):6000-9000/Day</span></th>

      </thead>
      <tbody>
        <tr>
          <th>Monthly Commission On Gross Sales</th>
          <td>INR 30,000</td>
          <td>INR 40,000</td>
          <td>INR 50,000</td>
          <td>INR 60,000</td>

        </tr>
        <tr>
          <th class="feature-heading" cope=col colspan="6">Features</th>
        </tr>
        <tr>
          <td >Paid Social (Fb, Insta & others)</td>
          <td>&#10003;</td>
          <td>&#10003;</td>
          <td>&#10003;</td>
          <td>&#10003;</td>

        </tr>
        <tr>
          <td>Paid Media (Google, Bing & others)</td>
          <td>&#10003;</td>
          <td>&#10003;</td>
          <td>&#10003;</td>
          <td>&#10003;</td>

        </tr>
        <tr>
          <td>Website Maintenance</td>
          <td>&#10003;</td>
          <td>&#10003;</td>
          <td>&#10003;</td>
          <td>&#10003;</td>

        </tr>
        <tr>
          <td>CRO (Conversion Rate Optimization)</td>
          <td>&#10003;</td>
          <td>&#10003;</td>
          <td>&#10003;</td>
          <td>&#10003;</td>

        </tr>
        <tr>
          <td>Advanced Target Audience Research</td>
          <td>&#10003;</td>
          <td>&#10003;</td>
          <td>&#10003;</td>
          <td>&#10003;</td>

        </tr>
        <tr>
          <td>5W Custom Avatar</td>
          <td>&#10003;</td>
          <td>&#10003;</td>
          <td>&#10003;</td>
          <td>&#10003;</td>

        </tr>

        <<!-- tr>
          <th class="feature-heading" scope=col colspan="6">Back End Marketing</th>
        </tr> -->
        <tr>
          <td>Psychographic Analysis</td>
          <td>&#10003;</td>
          <td>&#10003;</td>
          <td>&#10003;</td>
          <td>&#10003;</td>

        </tr>
        <tr>
          <td>Automatic Feed Ads (DPA)</td>
          <td>&#10003;</td>
          <td>&#10003;</td>
          <td>&#10003;</td>
          <td>&#10003;</td>

        </tr>
        <tr>
          <td>Compaign Optimization</td>
                  <td>&#10003;</td>

          <td>&#10003;</td>
          <td>&#10003;</td>
          <td>&#10003;</td>
       

        </tr>
        <tr>
          <td>Ads Analytical Reporting</td>
                  <td>&#10003;</td>

          <td>&#10003;</td>
          <td>&#10003;</td>
          <td>&#10003;</td>

        </tr>
        <tr>
          <td>SMS Marketing</td>
               <td>&#10003;</td>

          <td>&#10003;</td>
          <td>&#10003;</td>
          <td>&#10003;</td>

        </tr>
        <tr>
          <td>Up-Selling</td>
           <td>&#10003;</td>
          <td>&#10003;</td>
          <td>&#10003;</td>
          <td>&#10003;</td>

        </tr>
        <tr>
          <td>Cross Selling</td>
         <td>&#10003;</td>
          <td>&#10003;</td>
          <td>&#10003;</td>
          <td>&#10003;</td>

        </tr>
        <tr>
          <td>Backend Integrated Marketing</td>
            <td>&#10003;</td>
          <td>&#10003;</td>
          <td>&#10003;</td>
          <td>&#10003;</td>
        </tr>
        <tr>
          <td>Backend Programmatic Marketing</td>
          <td></td>
         <td>&#10003;</td>
        <td>&#10003;</td>
          <td>&#10003;</td>

        </tr>
        <tr>
          <td>Co Marketing</td>
          <td></td>
            <td>&#10003;</td>
           <td>&#10003;</td>
          <td>&#10003;</td>

        </tr>
        <tr>
          <td>In Game Marketing</td>
          <td></td>
          <td>&#10003;</td>
         <td>&#10003;</td>
          <td>&#10003;</td>

        </tr>
      <!--   <tr>
          <th class="feature-heading" scope=col colspan="6">Website</th>
        </tr -->>
        <tr>
          <td>Push Marketing</td>
          <td></td>
          <td>&#10003;</td>
          <td>&#10003;</td>
          <td>&#10003;</td>

        </tr>
        <tr>
          <td>Referral Marketing</td>
          <td></td>
          <td></td>
          <td>&#10003;</td>
          <td>&#10003;</td>

        </tr>
         <tr>
          <td>Corporate Marketing</td>
          <td></td>
          <td></td>
          <td>&#10003;</td>
          <td>&#10003;</td>

        </tr>
         <tr>
          <td>Retail Marketing (Beta Phase)</td>
          <td></td>
          <td></td>
          <td></td>
          <td>&#10003;</td>

        </tr>
         <tr>
          <td>Proximity Marketing (Beta)</td>
           <td></td>
          <td></td>
          <td></td>
          <td>&#10003;</td>

        </tr>
         <tr>
          <td>Loyalty Marketing</td>
           <td></td>
          <td></td>
          <td></td>
          <td>&#10003;</td>

        </tr>
        <tr>
          <td>Community Marketing</td>
           <td></td>
          <td></td>
          <td></td>
          <td>&#10003;</td>

        </tr>

      </tbody>
    </table>
  </section>

  <section id="price-features-mobile">

    <div class="tabs">
      <ul class="tabs-list">
        <li class="selected"><a href="#tab1">START UP</a></li>
        <li><a href="#tab2">STAPLE</a></li>
        <li><a href="#tab3">GROWTH</a></li>
        <li><a href="#tab4">PROFESSIONAL</a></li>
      </ul>

      <div id="tab1" class="tab active">
<table>
      <thead>
        <th></th>
        <th>Start Up</th>


      </thead>
      <tbody>
        <tr>
          <th>Monthly Commission On Gross Sales</th>
          <td>15 %</td>
    

        </tr>
        <tr>
          <th class="feature-heading" cope=col colspan="6">Front End Marketing</th>
        </tr>
        <tr>
          <td>Paid Social (Fb, Insta & others)</td>
          <td>&#10003;</td>
      

        </tr>
        <tr>
          <td>Paid Media (Google, Bing & others)</td>
          <td>&#10003;</td>
       

        </tr>
        <tr>
          <td>Website Maintenance</td>
          <td>&#10003;</td>
      

        </tr>
        <tr>
          <td>CRO (Conversion Rate Optimization)</td>
          <td>&#10003;</td>
     

        </tr>
        <tr>
          <td>Advanced Target Audience Research</td>
          <td>&#10003;</td>
     

        </tr>
        <tr>
          <td>5W Custom Avatar</td>
          <td>&#10003;</td>
    
        </tr>

        <!-- tr>
          <th class="feature-heading" scope=col colspan="6">Back End Marketing</th>
        </tr> -->
        <tr>
          <td>Psychographic Analysis</td>
          <td>&#10003;</td>
    

        </tr>
        <tr>
          <td>Automatic Feed Ads (DPA)</td>
          <td>&#10003;</td>
      

        </tr>
        <tr>
          <td>Compaign Optimization</td>
       
          <td>&#10003;</td>
          

        </tr>
        <tr>
          <td>Ads Analytical Reporting</td>
          <td>&#10003;</td>
       

        </tr>
        <tr>
          <td>SMS Marketing</td>
 
          <td>&#10003;</td>
        

        </tr>
        <tr>
          <td>Up-Selling</td>
           <td>&#10003;</td>
    

        </tr>
        <tr>
          <td>Cross Selling</td>
         <td>&#10003;</td>
      

        </tr>
        <tr>
          <td>Backend Integrated Marketing</td>
            <td>&#10003;</td>

        </tr>
        <tr>
          <td>Backend Programmatic Marketing</td>
          <td></td>
 

        </tr>
        <tr>
          <td>Co Marketing</td>
          <td></td>
     

        </tr>
        <tr>
          <td>In Game Marketing</td>
          <td></td>
  
        </tr>
      <!--   <tr>
          <th class="feature-heading" scope=col colspan="6">Website</th>
        </tr -->
        <tr>
          <td>Push Marketing</td>
          <td></td>
        

        </tr>
        <tr>
          <td>Referral Marketing</td>
          <td></td>
   

        </tr>
         <tr>
          <td>Corporate Marketing</td>
          <td></td>
   

        </tr>
         <tr>
          <td>Retail Marketing (Beta Phase)</td>
          <td></td>
    

        </tr>
         <tr>
          <td>Proximity Marketing (Beta)</td>
           <td></td>


        </tr>
         <tr>
          <td>Loyalty Marketing</td>
           <td></td>
      

        </tr>
        <tr>
          <td>Community Marketing</td>
           <td></td>
   

        </tr>

      </tbody>
    </table>

      </div>
      <div id="tab2" class="tab">
      <table>
      <thead>
        <th></th>
       
        <th>Staple</th>
       
        
      </thead>
      <tbody>
        <tr>
          <th>Monthly Commission On Gross Sales</th>
         
          <td>12 %</td>
         
        

        </tr>
        <tr>
          <th class="feature-heading" cope=col colspan="6">Front End Marketing</th>
        </tr>
        <tr>
          <td>Paid Social (Fb, Insta & others)</td>
         
          <td>&#10003;</td>
         
        </tr>
        <tr>
          <td>Paid Media (Google, Bing & others)</td>
         
          <td>&#10003;</td>
         

        </tr>
        <tr>
          <td>Website Maintenance</td>
         
          <td>&#10003;</td>
         

        </tr>
        <tr>
          <td>CRO (Conversion Rate Optimization)</td>
    
          <td>&#10003;</td>
      

        </tr>
        <tr>
          <td>Advanced Target Audience Research</td>
     
          <td>&#10003;</td>
     

        </tr>
        <tr>
          <td>5W Custom Avatar</td>
         
          <td>&#10003;</td>
      

        </tr>

        <<!-- tr>
          <th class="feature-heading" scope=col colspan="6">Back End Marketing</th>
        </tr> -->
        <tr>
          <td>Psychographic Analysis</td>
    
          <td>&#10003;</td>
      
        </tr>
        <tr>
          <td>Automatic Feed Ads (DPA)</td>
      
          <td>&#10003;</td>
      

        </tr>
        <tr>
          <td>Compaign Optimization</td>
       
        
          <td>&#10003;</td>
        

        </tr>
        <tr>
          <td>Ads Analytical Reporting</td>
   
          <td>&#10003;</td>
     

        </tr>
        <tr>
          <td>SMS Marketing</td>
       
  
          <td>&#10003;</td>
         

        </tr>
        <tr>
          <td>Up-Selling</td>
        
          <td>&#10003;</td>
     

        </tr>
        <tr>
          <td>Cross Selling</td>
     
          <td>&#10003;</td>
       

        </tr>
        <tr>
          <td>Backend Integrated Marketing</td>
          
          <td>&#10003;</td>
  
        </tr>
        <tr>
          <td>Backend Programmatic Marketing</td>
        
         <td>&#10003;</td>
   

        </tr>
        <tr>
          <td>Co Marketing</td>
         
            <td>&#10003;</td>
        

        </tr>
        <tr>
          <td>In Game Marketing</td>
          <td>&#10003;</td>
   

        </tr>
      <!--   <tr>
          <th class="feature-heading" scope=col colspan="6">Website</th>
        </tr -->


        <tr>
          <td>Push Marketing</td>
       
          <td>&#10003;</td>
       

        </tr>
        <tr>
          <td>Referral Marketing</td>
     
          <td></td>
       

        </tr>
         <tr>
          <td>Corporate Marketing</td>
     
          <td></td>
 

        </tr>
         <tr>
          <td>Retail Marketing (Beta Phase)</td>
     
          <td></td>
     

        </tr>
         <tr>
          <td>Proximity Marketing (Beta)</td>
   
          <td></td>


        </tr>
         <tr>
          <td>Loyalty Marketing</td>
      
          <td></td>
    
        </tr>
        <tr>
          <td>Community Marketing</td>
     
          <td></td>
  

        </tr>

      </tbody>
    </table>
      </div>

      <div id="tab3" class="tab">
        <table>
      <thead>
        <th></th>
       
        <th>Growth</th>
        

      </thead>
      <tbody>
        <tr>
          <th>Monthly Commission On Gross Sales</th>
         
          <td>9 %</td>
        

        </tr>
        <tr>
          <th class="feature-heading" cope=col colspan="6">Front End Marketing</th>
        </tr>
        <tr>
          <td>Paid Social (Fb, Insta & others)</td>
    
          <td>&#10003;</td>
       

        </tr>
        <tr>
          <td>Paid Media (Google, Bing & others)</td>
     
          <td>&#10003;</td>
     

        </tr>
        <tr>
          <td>Website Maintenance</td>
       
          <td>&#10003;</td>
     

        </tr>
        <tr>
          <td>CRO (Conversion Rate Optimization)</td>
    
          <td>&#10003;</td>
       

        </tr>
        <tr>
          <td>Advanced Target Audience Research</td>
        
          <td>&#10003;</td>
       

        </tr>
        <tr>
          <td>5W Custom Avatar</td>
      
          <td>&#10003;</td>
       

        </tr>

        <<!-- tr>
          <th class="feature-heading" scope=col colspan="6">Back End Marketing</th>
        </tr> -->
        <tr>
          <td>Psychographic Analysis</td>
        
          <td>&#10003;</td>
       

        </tr>
        <tr>
          <td>Automatic Feed Ads (DPA)</td>
       
          <td>&#10003;</td>
      

        </tr>
        <tr>
          <td>Compaign Optimization</td>
                
          <td>&#10003;</td>
  
       

        </tr>
        <tr>
          <td>Ads Analytical Reporting</td>
             
          <td>&#10003;</td>
     

        </tr>
        <tr>
          <td>SMS Marketing</td>
              
          <td>&#10003;</td>

        </tr>
        <tr>
          <td>Up-Selling</td>
      
          <td>&#10003;</td>
  

        </tr>
        <tr>
          <td>Cross Selling</td>
       
          <td>&#10003;</td>
    

        </tr>
        <tr>
          <td>Backend Integrated Marketing</td>
      
          <td>&#10003;</td>

        </tr>
        <tr>
          <td>Backend Programmatic Marketing</td>
      
        <td>&#10003;</td>
     

        </tr>
        <tr>
          <td>Co Marketing</td>
    
           <td>&#10003;</td>
      

        </tr>
        <tr>
          <td>In Game Marketing</td>
      
         <td>&#10003;</td>
     

        </tr>
      <!--   <tr>
          <th class="feature-heading" scope=col colspan="6">Website</th>
        </tr -->>
        <tr>
          <td>Push Marketing</td>
   
          <td>&#10003;</td>
 

        </tr>
        <tr>
          <td>Referral Marketing</td>
     
          <td>&#10003;</td>


        </tr>
         <tr>
          <td>Corporate Marketing</td>
       
          <td>&#10003;</td>
      

        </tr>
         <tr>
          <td>Retail Marketing (Beta Phase)</td>
         
          <td></td>
     

        </tr>
         <tr>
          <td>Proximity Marketing (Beta)</td>
           <td></td>
    

        </tr>
         <tr>
          <td>Loyalty Marketing</td>
        
          <td></td>
        

        </tr>
        <tr>
          <td>Community Marketing</td>
         
          <td></td>
       

        </tr>

      </tbody>
    </table>

      </div>
      <div id="tab4" class="tab">
       <table>
      <thead>
        <th></th>
       
        <th>Professional</th>

      </thead>
      <tbody>
        <tr>
          <th>Monthly Commission On Gross Sales</th>
     
          <td>7 %</td>

        </tr>
        <tr>
          <th class="feature-heading" cope=col colspan="6">Front End Marketing</th>
        </tr>
        <tr>
          <td>Paid Social (Fb, Insta & others)</td>
     
          <td>&#10003;</td>

        </tr>
        <tr>
          <td>Paid Media (Google, Bing & others)</td>
   
          <td>&#10003;</td>

        </tr>
        <tr>
          <td>Website Maintenance</td>
      
          <td>&#10003;</td>

        </tr>
        <tr>
          <td>CRO (Conversion Rate Optimization)</td>
    
          <td>&#10003;</td>

        </tr>
        <tr>
          <td>Advanced Target Audience Research</td>
         
          <td>&#10003;</td>

        </tr>
        <tr>
          <td>5W Custom Avatar</td>
    
          <td>&#10003;</td>

        </tr>

        <<!-- tr>
          <th class="feature-heading" scope=col colspan="6">Back End Marketing</th>
        </tr> -->
        <tr>
          <td>Psychographic Analysis</td>
    
          <td>&#10003;</td>

        </tr>
        <tr>
          <td>Automatic Feed Ads (DPA)</td>
      
          <td>&#10003;</td>

        </tr>
        <tr>
          <td>Compaign Optimization</td>
           
          <td>&#10003;</td>
       

        </tr>
        <tr>
          <td>Ads Analytical Reporting</td>
         
          <td>&#10003;</td>

        </tr>
        <tr>
          <td>SMS Marketing</td>
          
          <td>&#10003;</td>

        </tr>
        <tr>
          <td>Up-Selling</td>
         
          <td>&#10003;</td>

        </tr>
        <tr>
          <td>Cross Selling</td>
         
          <td>&#10003;</td>

        </tr>
        <tr>
          <td>Backend Integrated Marketing</td>
         
          <td>&#10003;</td>
        </tr>
        <tr>
          <td>Backend Programmatic Marketing</td>
   
          <td>&#10003;</td>

        </tr>
        <tr>
          <td>Co Marketing</td>
         
          <td>&#10003;</td>

        </tr>
        <tr>
          <td>In Game Marketing</td>
       
          <td>&#10003;</td>

        </tr>
      <!--   <tr>
          <th class="feature-heading" scope=col colspan="6">Website</th>
        </tr -->>
        <tr>
          <td>Push Marketing</td>
     
          <td>&#10003;</td>

        </tr>
        <tr>
          <td>Referral Marketing</td>
    
          <td>&#10003;</td>

        </tr>
         <tr>
          <td>Corporate Marketing</td>
     
          <td>&#10003;</td>

        </tr>
         <tr>
          <td>Retail Marketing (Beta Phase)</td>
     
          <td>&#10003;</td>

        </tr>
         <tr>
          <td>Proximity Marketing (Beta)</td>
        
          <td>&#10003;</td>

        </tr>
         <tr>
          <td>Loyalty Marketing</td>
           
          <td>&#10003;</td>

        </tr>
        <tr>
          <td>Community Marketing</td>
          
          <td>&#10003;</td>

        </tr>

      </tbody>
    </table>
      </div>


    </div>



  </section>

  

  <section id="all-plan-include">
    <h2 class="main-heading-black">Every Business Plan Includes</h2>

    <div class="all-plan-include">
      <li><i class="fas fa-check"></i> Advanced Target Audience Research</li>
      <li><i class="fas fa-check"></i> 5W Customer Avatar
      </li>
      <li><i class="fas fa-check"></i> Psychographic Analysis
      </li>
    </div>

    <div class="all-plan-include">
      <li><i class="fas fa-check"></i> Automatic Feed Ads (DPA)
      </li>
      <li><i class="fas fa-check"></i> Campaign Optimization
      </li>
      <li><i class="fas fa-check"></i> Ads Analytical Reporting
      </li>
    </div>
    <div class="all-plan-include">
      <li><i class="fas fa-check"></i> SMS Marketing
      </li>
      <li> <i class="fas fa-check"></i> Up-Selling
      </li>
      <li> <i class="fas fa-check"></i> Cross-Selling
      </li>
    </div>
  </section>
  <section id="contact-us-custom">
    <div>
      <h3>Custom Request</h3>
      <p>Please contact us on work@messold.com</p>
    </div>
  </section>

  <section id="available-addon">
    <h2 class="main-heading">Available Addons</h2>
    <div class="swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="main-content-div">
            <div class="icon"><i class="fab fa-facebook-f"></i></div>
            <div class="title">Social Media Management</div>
            <div class="price">INR 10,000/Month</div>
            <div class="desc">Building a relationship with your customers can be hard when you don’t have a brick and mortar presence. Our advertising experts can help you speak with a unified voice on all of your social media channels.</div>

          </div>
        </div>
        <div class="swiper-slide">
          <div class="main-content-div">
            <div class="icon"><i class="fab fa-instagram"></i></i>
            </div>
            <div class="title">Insta Shop</div>
            <div class="price">INR 15,000 (One Time)</div>
            <div class="desc">Integrating instagram shop is not a child's play. Brands are buckling down to get access to Instashop. We take the burden from your shoulders and work our fingers to the bone in order to kick start the elite feature of Instagram Shop</div>

          </div>
        </div>
        <div class="swiper-slide">
          <div class="main-content-div">
            <div class="icon"><i class="fas fa-camera"></i></i>
            </div>
            <div class="title">Influencer Marketing</div>
            <div class="price">INR 2500/Influencer</div>
            <div class="desc">We build a large network of influential personalities to drive your brand’s worth through the various channels of social media</div>

          </div>
        </div>
        <div class="swiper-slide">
          <div class="main-content-div">
            <div class="icon"><i class="fab fa-searchengin"></i></div>
            <div class="title">SEO</div>
            <div class="price">INR 10,000/Month</div>
            <div class="desc">We work our fingers to the bone to rank your online store on the top of search engine results.On-Page SEO and Off-Page SEO expose you to the entire market of individuals searching for your brand by outranking your toughest competitors.</div>

          </div>
        </div>
        <div class="swiper-slide">
          <div class="main-content-div">
            <div class="icon"><i class="fab fa-amazon"></i></i>
            </div>
            <div class="title">Marketplace Optimization</div>
            <div class="price">8% or 20,000 (whichever is lower)</div>
            <div class="desc">As marketers, we are always looking for new ways to get more bang for the buck. Marketplace Optimization allows us to do just that! We will propel your brand’s designs to top the charts of online sites like Amazon, Flipkart, Ebay, Paytm and
              many more.</div>

          </div>
        </div>
        <div class="swiper-slide">
          <div class="main-content-div">
            <div class="icon"><i class="fab fa-facebook-f"></i></div>
            <div class="title">Facebook Shop</div>
            <div class="price">8% or 20,000 (whichever is lower)</div>
            <div class="desc">Setting up facebook shop is a a must for ecommece brands to multiply their conversion rate, CTR, website sessions and ROAS. We help you to do just that by putting our expertise to work!
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="main-content-div">
            <div class="icon"><i class="fas fa-funnel-dollar"></i></i>
            </div>
            <div class="title">Omnipresent Marketing</div>
            <div class="price">1500/10 Websites (Lifetime)</div>
            <div class="desc">Making your brand recognizable and available to customers at all times in every capacity across various online platforms.
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="main-content-div">
            <div class="icon"><i class="fas fa-shopping-cart"></i></i>
            </div>
            <div class="title">Product Listing</div>
            <div class="price">INR 30/Product (Lifetime)</div>
            <div class="desc">Product listing page on the website is made up of the information like title, images, description, and price. ... As a result, getting the product listing right will determine the success of your products and more conversions.
            </div>

          </div>
        </div>
        <!-- Slides -->
        <div class="swiper-slide">

          <div class="main-content-div">
            <div class="icon"><i class="fas fa-tags"></i></i>
            </div>
            <div class="title">Coupon Management</div>
            <div class="price">INR 450/(Registration + Updation) for 6 months</div>
            <div class="desc">Registering your brand on various authorized sites that create and distribue discounts while also tracking path-to-purchase, establishing affiliate promoters, rewarding customer referrals, and increasing revenue.
            </div>
          </div>


        </div>

        <div class="swiper-slide">

          <div class="main-content-div">
            <div class="icon"><i class="fab fa-blogger"></i></i>
            </div>
            <div class="title">Blogs</div>
            <div class="price">INR 500/Blog</div>
            <div class="desc">Blogging and posting relevant content is an incredibly useful tool to increase traffic to your website and to your services. With the help of SEO strategies like keywords, titles, meta descriptions, and more, blog posts become a powerful tool
              for gaining visibility for your brand.
            </div>
          </div>



        </div>

        <div class="swiper-slide">


          <div class="main-content-div">
            <div class="icon"><i class="fas fa-handshake"></i></i>
            </div>
            <div class="title">PR Activities</div>
            <div class="price">On Request</div>
            <div class="desc">Integrating instagram shop is not a child's play. Brands are buckling down to get access to Instashop. We take the burden from your shoulders and work our fingers to the bone in order to kick start the elite feature of Instagram Shop</div>

          </div>

        </div>
        <div class="swiper-slide">
          <div class="main-content-div">
            <div class="icon"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></i>
            </div>
            <div class="title">Reviews</div>
            <div class="price">INR 1000/20 Reviews (Lifetime)</div>
            <div class="desc">The quality and quantity of reviews on Google or other platforms is one of the most important ranking factors for local SEO. And, when a person scans the search results for a local product or service in Google, the business listings that include
              customer reviews present greater credibility and, naturally, receive more clicks.
            </div>
          </div>
        </div>

      </div>
      <!-- If we need pagination -->
      <!-- <div class="swiper-pagination"></div> -->

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <!-- If we need scrollbar -->
      <!-- <div class="swiper-scrollbar"></div> -->
    </div>





  </section>

<!--   <section id="partners">
    <div>
      <h3>Trusted by Leading partners</h3>
    </div>
    <div>
      <img src="data/img/ezgif.com-gif-maker-removebg-preview.png" alt="">
      <img src="data/img/logo8-removebg-preview.png" alt="">
      <img src="data/img/napmaster-removebg-preview.png" alt="">
      <img src="data/img/logo7.webp" alt="">

    </div>
  </section> -->

  <section id="brands">
        <div class="upper">
<h3>TRUSTED BY LEADING COMPANIES
</h3>
<p>To give real service you must add something which cannot be bought or measured with money, and that is Sincerity & Integrity.</p>
<div class="happy-client button-hover">
    <a href="#">Happy Clients</a>    
</div>
    
</div>
        <div class="lower">
<div class="logo">
 <img src="./data/logos/ZARA.png" alt="">
</div>
<div class="logo">
                 <img src="./data/logos/DECATHLON.png" alt="">
</div>
      <div class="logo">
                  <img src="./data/logos/RALPH LAUREN.png" alt="">
</div>
<div class="logo">
                     <img src="./data/logos/FRATERNITY.png" alt="">
</div>

<div class="logo">
                      <img src="./data/logos/SKODA.png" alt="">

</div>

<div class="logo">
                                 <img src="./data/logos/ANYTIME-FITNESS.png" alt="">
</div>


<div class="logo">
                                <img src="./data/logos/HARRY.png" alt="">

</div>
<div class="logo">
                                    <img src="./data/logos/ROCK YOUR BABY.png" alt="">

</div></div>



</section>
    <footer>
    <div class="footer-1">
      <img src="./data/img/footer.svg" alt="">
    </div>
    <div class="footer-2">
      <div class="row-1-footer">
        <div class="collab footer-heading-text">
          <h3 class="footer-heading">
            Want to collaborate
          </h3>
          <h4 class="footer-heading-2">
            Work with us!
          </h4>
          <div class="footer-text">
<a href = "mailto: sales@messold.com">sales@messold.com</a>
          </div>
        </div>
        <div class="say-hi footer-heading-text">
          <h3 class="footer-heading">
            Want to say Hi?
          </h3>
          <h4 class="footer-heading-2">
            General Enquiries
          </h4>
          <div class="footer-text">
<a href = "mailto: hello@messold.com">hello@messold.com</a>
          </div>
        </div>
      </div>
      <div class="row-2-footer">
        <div class="join footer-heading-text">
          <h3 class="footer-heading">
            Want to Join us?
          </h3>
          <h4 class="footer-heading-2">
            Messold welcomes you!
          </h4>
          <div class="footer-text">
<a href = "mailto: career@messold.com">career@messold.com</a>
          </div>
        </div>
        <div class="learn footer-heading-text">
          <h3 class="footer-heading">
            Want to learn
          </h3>
          <h4 class="footer-heading-2">
            Become an Intern
          </h4>
          <div class="footer-text">
<a href = "mailto: intern@messold.com">intern@messold.com</a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

  <script type="text/javascript">
    $(document).ready(function() {

      $(".tabs-list li a").click(function(e) {
        e.preventDefault();
      });

      $(".tabs-list li").click(function() {
        var tabid = $(this).find("a").attr("href");
        $(".tabs-list li,.tabs div.tab").removeClass("active"); // removing active class from tab

        $(".tab").hide(); // hiding open tab
        $(tabid).show(); // show tab
        $(this).addClass("active"); //  adding active class to clicked tab

      });

    });
    var swiper = new Swiper('.swiper-container', {
      spaceBetween: 30,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      cssMode: true,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      // pagination: {
      //   el: '.swiper-pagination'
      // },
      mousewheel: true,
      keyboard: true,
      breakpoints: {
        640: {
          slidesPerView: 1,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 1,
          spaceBetween: 40,
        },
        1024: {
          slidesPerView: 3,
          spaceBetween: 20,
        },
      },
    });
  </script>
   <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/CSSRulePlugin.min.js"></script>
  <script src="https://unpkg.com/@barba/core"></script>
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/platform/1.3.6/platform.min.js" integrity="sha512-eYPrm8TgYWg3aa6tvSRZjN4v0Z9Qx69q3RhfSj+Mf89QqwOMqmwSlsVqfp4N8NVAcZe/YeUhh9x/nM2CAOp6cA==" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scrollbar/8.5.3/smooth-scrollbar.js" integrity="sha512-EkxhY1yhXrjhnDu8o0mHvJHXbH5JsEWz2oNsrFrtW5q5J9l9hV8V5Oid6wpL3Dyu71wlc5YbLPNnul2b7FwNMQ==" crossorigin="anonymous"></script>
  <!-- <script src="/assets/js/index.js"></script> -->

  <script>
    let cursor = document.querySelector('.cursor');
    document.addEventListener('mousemove', e => {
      cursor.setAttribute("style", "top: " + (e.pageY - 10) + "px; left: " + (e.pageX - 10) + "px;");
    });

    let navLinks = document.querySelectorAll(".main-nav-items .menu li");
    let menuLi = document.querySelectorAll(".menu li a");
    menuLi.forEach((item) => {
      item.addEventListener("mouseenter", () => {
        cursor.classList.add("expandMenuLi");
      })
    });
    menuLi.forEach((item) => {
      item.addEventListener("mouseleave", () => {
        cursor.classList.remove("expandMenuLi");
      })
    });
    var tl = gsap.timeline();
    tl.to(".main-nav-items", {
      top: 0,
      duration: 0.6,
      ease: "power1"
    });
    tl.to(".main-nav-items .menu li", {
      opacity: 1,
      x: 20,
      stagger: 0.2,
      duration: 0.6
    }, "-=0.3");
    tl.pause()
    var menuIcon = document.querySelector(".menu-icon").addEventListener("click", () => {
      tl.timeScale(1).play();
    });
    var menuCloseIcon = document.querySelector(".menu-close-icon").addEventListener("click", () => {
      tl.timeScale(3).reverse();
    });


$.getJSON("https://api.ipify.org/?format=json", function(e) {
    //   document.getElementById("ip").innerHTML = 'IP Address: ' + e.ip;
    //   document.getElementById("browser").innerHTML = 'Browser: ' +
    //     platform.name;
    //   document.getElementById("version").innerHTML = 'Version: ' +
    //     platform.version;
    //   document.getElementById("product").innerHTML = 'Product: ' +
    //     platform.product;
    //   document.getElementById("OS").innerHTML = 'OS: ' +
    //     platform.os;
    document.getElementById("ip-text").innerHTML = "You are using " + platform.name + ' browser on ' + platform.os;
});
$(document).ready(function() {
 
$('.submit-button').submit(function() {
$(this).ajaxSubmit({
error: function(xhr) {
status('Error: ' + xhr.status);
},
 

success: function(response) {
$("#status").empty().text(response);
console.log(response);
}
});
//Code to disable the page refresh.
return false;
});
});

$('.tabs-list li ').on('click', function(){
    $('.tabs-list li ').removeClass('selected');
    $(this).addClass('selected');
});


// <!-- GetButton.io widget -->

//     (function () {
//         var options = {
//             whatsapp: "8447990819", // WhatsApp number
//             email: "work@messold.com",
//             call: "8447990819",
//              // Email
//             call_to_action: "Contact us", // Call to action
//             button_color: "#000000", // Color of button
//             position: "right", // Position may be 'right' or 'left'
//             order: "whatsapp,email,call", // Order of buttons
//         };
//         var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
//         var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
//         s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
//         var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
//     })();


  </script>

  
</body>

</html>

